* {
  margin: 0;
  padding-inline-start: 0;
}

iframe {
  width: 90vw;
  height: 50vh;
}

/* För senare använding när vi kör JS */
/* iframe:hover {
        background-image: url('assets/my-tribute-page-img.PNG');
        background-repeat: no-repeat;
} */

.grid-area {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  justify-items: center;
  margin-top: 6em;
  margin-bottom: 2em;
  padding: 4em;
}

@media (max-width: 1000px) {
  .grid-area {
    margin-top: 4em;
    padding-left: 2em;
    gap: 1.5em;
  }
}

@media (max-width: 660px) {
  iframe {
    width: 80vw;
    height: 50vh;
  }
  .grid-area {
    margin-bottom: 5em;
    padding-left: 2em;
    gap: 1.5em;
  }
}
