footer {
    background-color: black;
    margin: 0;
    padding-inline-start: 0;
    position: fixed;
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px 0;
}

h3 {
    color: white; 
}

ul {
    display: flex;
    
}

li {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 10px; 
}