form {
    height: 35vh;
    padding: 2em;
    display: grid;
    justify-content: center;
    gap: 0.3em; 
}

  @media (max-width: 375px){
    form {
        height: 25vh;
    }
    textarea {
        min-height: 2em;
    }
  }

  @media (max-width: 667px){
    form {
        height: 30vh;
    }
    textarea {
        min-height: 1.5em; 
        width: 24em;
    }
}