header {
    margin: 0;
    padding-inline-start: 0;
    position: fixed;
    top: 0; 
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0.5em 0;
}

ul {
    display: flex;
    
}

li {
    list-style-type: none;
    padding: 0 1em; 
}

@media (max-width: 790px){ 
    .head-nav {
        display:none;
    }
}