/* index.html */ 
.main-title {
    font-size: 21rem; 
    word-break: break-all;
    margin: 0;
}

.main-nav {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.external-section {
    font-size: 1.8rem;
    text-align: center;
}

h1,h3 {
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 280px) and (max-width: 1000px){
    .main-title{
        font-size: 8.5rem;
    }
}