body {
  background-color: white;
}

header {
  background: linear-gradient(
      120deg,
      black 0%,
      black 48%,
      white 48%,
      white 100%
    )
    no-repeat fixed;
}

h1,
h3 {
  color: white;
}

/* Link CSS */
a {
  color: white;
  text-shadow: 0 0 2px rgb(0, 0, 0);
}

a:hover {
  color: rgb(65, 63, 63);
}

a:active {
  color: rgb(65, 63, 63);
}
/* End of Link CSS */

iframe {
  border: 1px solid black;
}

/* Form CSS */
form {
  background-color: wheat;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border-style: none;
  border-color: transparent;
}

input[type="submit"]:hover {
  background-color: rgb(65, 63, 63);
  outline: 2px solid white;
  outline-offset: -5px;
}
/* End of Form CSS */

footer {
  background-color: black;
}

.home-body {
  background: linear-gradient(
      120deg,
      white 0%,
      white 75%,
      black 75%,
      black 100%
    )
    no-repeat fixed;
}

.main-title {
  color: rgb(29, 28, 28);
}

/* Navigaton CSS */
.main-nav {
  background-color: transparent;
}

.head-nav {
  color: rgb(112, 111, 111);
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

.head-nav:hover {
  color: black;
}
/* End of Navigation CSS */

.grid-area,
.contact-area {
  background-color: rgb(231, 231, 231);
}

/* Link CSS */
.link-border {
  border-bottom: 1px solid white;
}

.link-exp:hover {
  border-color: black;
}
/*End of Link CSS  */

@media (max-width: 1000px) {
  h3 {
    border-right: 1px solid white;
  }
  .main-nav {
    background-color: gray;
    opacity: 0.9;
  }
  .link-border {
    border-bottom: 1px solid white;
  }
}
